html{
    scroll-behavior: smooth;
    background-color: #f8f8ffff;
}

.nav-top{
    background-color: black;
    top: 0;
    margin: 0%;
    padding: 1%;
    width: 100%;
    position: sticky;
    text-align: end;
}

.nav-top h3{
    color: blanchedalmond;
    float: left;
}

ul{
    list-style-type: none;
    margin: 0.5%;
    padding: 0;
    overflow: hidden;
}

li{
    display: inline;
    margin: 2%;
}

li a{
    text-align: center;
    color: blanchedalmond;
}

a{
    margin: 0.5%;
}

main{
    margin: 5%;
    font-family: sans-serif;
    text-align: justify;
}

section{
    margin: 20%, 0%;
}

.Social section div{
    background-color: #c8c8d4ff;
}

h1{
    font-size: 300%;
    margin: 0.5%;
    padding: 0.75%;
}

h2{
    font-size: 250%;
    margin: 0.5%;
    padding: 0.75%;
}

p{
    display: block;
    background-color: #e7e9f1ff;
    font-size: 125%;
    border-radius: 10px;
    margin: 5%;
    padding: 5%;
    box-shadow: 2px 2px 4px black;
}

div{
    text-align: center;
    margin: 0;
    bottom: -1%;
}

footer{
    text-align: center;
    font-style: unset;
}